body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(3, 235, 255) 0%,
    rgb(152, 70, 242) 100.2%
  );
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
}

.main {
  padding: 20px;
}

h2 {
  color: #333;
}

.contact,
.skills {
  margin: 20px 30px;
  padding: 20px;
  border-radius: 5px;

  text-decoration: wavy;
}

footer {
  text-align: center;
  padding: 10px 0;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}
